form {
  display: grid;
  grid-template-columns: 1fr 5rem;
  column-gap: 1ch;

  input, button, p {
    font-size: 1rem;
  }

  p {
    grid-column: span 2;
    font-size: 1.2rem;
    font-weight: bold;
    height: 1.2em;
  }

  input {
    padding: 0.5ch;
  }
}