form {
  .input-output {
    display: grid;
    grid-template-rows: 1.5em 50px;
    gap: 0.5ch;

    background-color: var(--col-white, #ffff);
    border: 3px solid var(--col-secondary);
    border-radius: 0.5em;
    padding-inline: 1em;
    padding-block: 0.5em;

    box-shadow: 0 3px 3px hsla(0, 0%, 0%, 0.3);

    p {
      font-family: "Bold";
      text-align: end;
      padding: 0.5ch;
    }

    input {
      padding: 0.5ch;
      background: none;
      border: none;

      font-size: 1.5em;
      font-family: "ExtraLight";
      text-align: end;
      letter-spacing: 0.2em;

      &:focus {
        outline: none;
      }
    }
  }

  .keypad {
    margin-top: 1rem;
  }
}
