@use "./PreviewDisplay.scss";


.calculation-display {
  z-index: -1;
  color: var(--col-window-bg);
  background: var(--col-white-faded);
  border-radius: 0.5rem;
  padding-inline: 1em;
  padding-block: 0.5em;
  box-shadow: 0 5px 3px var(--std-col-box-shadow);

  display: grid;
  grid-template-columns: 1fr 5rem;

  &:focus-within {
    box-shadow: inset 2px 1px rgba($color: #000000, $alpha: 0.2);
    background-color: var(--col-white, white);
  }

  .display {
    .top-display {
      padding: 0;
      margin: 0;
      height: var(--top-view-height);
      font-weight: bold;
    }

    .interaction {
      position: relative;
      display: flex;
      gap: 0.5rem;
      overflow: hidden;

      p {
        font-family: "Bold";
        text-align: center;
        align-self: center;
      }

      input {
        z-index: 1;
        font-family: "FiraSans";
        color: var(--col-window-bg);
        background: none;
        border: none;
        width: 100%;

        font-size: 1.5em;

        &:focus {
          outline: none;
        }
      }
    }

    .bracket-preview {
      position: absolute;
      color: var(--col-window-bg);
      border: none;
      background: none;

      font-size: 1.5em;
      font-family: "FiraSans";
      opacity: 0.5;

      user-select: none;
      z-index: 0;
    }
  }

  .submit-btn {
    border: none;
    border-radius: 1rem;
    background: var(--col-secondary);
    color: var(--col-white, rgb(255, 255, 255));
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.2);

    font-family: "FiraSans";
    font-size: 2rem;

    &:active {
      box-shadow: inset 2px 1px rgba(0, 0, 0, 0.25);
    }
  }
}