@use "./Options.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 3rem;
  margin-inline: 3rem;

  position: relative;

  h1 {
    color: var(--col-primary);
    font-family: "ExtraBold";
    font-size: 2rem;
    margin: 0;
    text-shadow: -2px 2px 1px hsla(0, 0%, 0%, 0.25);
  }

  .option-area {
    position: relative;

    ul {
      position: absolute;
      top: 2rem;
      right: 0;
    }

    .setting-btn {
      border: none;
      background: none;
      display: grid;

      svg {
        fill: var(--col-primary);
        width: 2rem;
        height: 2rem;
        margin: 0;
        transition: all 0.2s ease-in;
      }
    }
  }
}