@use "./Options.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;

  h1 {
    color: var(--col-primary);
    font-family: "ExtraBold";
    font-size: 2rem;
    margin: 0;
  }
}