header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 3rem;
  margin-inline: 3rem;

  position: relative;

  h1 {
    color: var(--col-primary);
    font-family: "ExtraBold";
    font-size: 2rem;
    margin: 0;
    text-shadow: -2px 2px 1px hsla(0, 0%, 0%, 0.25);
  }

  .option-area {
    background: none;
    border: none;

    svg {
      fill: var(--col-primary);
      width: 3ch;
      height: 3ch;
      margin: 0;
      transition: all 0.2s ease-in;

      &:hover {
        animation: rotate-around 0.8s linear infinite forwards;
      }
    }
  }
}

@keyframes rotate-around {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}