@use "./History.scss";

.hidables {
  position: absolute;
  bottom: 5.2rem;
  width: 60vw;
  justify-self: end;

  display: grid;
  grid-template-columns: 1fr 3rem;
  gap: 1rem;

  .history-control {
    overflow: hidden;
    border-radius: 0.5rem;

    .history-div {
      -webkit-transition: max-height 0.5s ease, opacity 0.5s ease-in;
      transition: max-height 0.5s ease, opacity 0.5s ease-in;

      .no-history {
        min-height: 2.5rem;
        text-align: center;

        display: grid;
        align-items: center;

        text-transform: uppercase;
        font-family: "ExtraLight";
        font-size: 1.2rem;
        color: var(--col-window-bg);
        background-color: var(--col-white-faded);
      }
    }
  }

  .show-hide-btn {
    display: grid;
    justify-content: end;
    padding-inline: 0.5rem;
    position: relative;

    button {
      position: absolute;
      bottom: 0;
      right: 0.5rem;

      display: grid;
      border: none;
      aspect-ratio: 1/1;
      border-radius: 100%;

      background: var(--col-tertiary);
      padding: 0.5rem;
      transition: transform 0.1s ease-in-out, background-color 0.5s ease;

      svg {
        fill: var(--col-window-bg);
        width: 3ch;
        height: 3ch;
        color: var(--col-window-bg);
        stroke-width: 0.5;
      }

      .outer-circle {
        transform-origin: center;
        transform: rotateZ(360deg);
        transition: transform 0.5s ease-in-out;
      }
    }
  }
}

.hidables.shown {
  .show-hide-btn {
    button {
      box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.2);
      background-color: var(--col-tertiary);
      animation-name: bounce-in;
      animation-duration: 0.3s;
      animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);

      svg {
        color: var(--col-white);
        fill: var(--col-white);

        .outer-circle {
          transform: rotateZ(0deg);
        }
      }
    }

    @keyframes bounce-in {
      50% {
        transform: scale(1.1);
      }

      100% {
        transform: scale(1);
      }
    }
  }

  .history-control .history-div {
    max-height: 50vh;

    ul {
      transition: opacity 0.3s ease-in;
    }

    .no-history {
      transition: opacity 0.3s ease-in;
      opacity: 1;
    }
  }
}

.hidables.hidden {
  .show-hide-btn {
    button {
      background-color: var(--col-primary);
      box-shadow: inset 1px 1px hsla(0, 0%, 0%, 0.2);
      animation-name: bounce-out;
      animation-duration: 0.3s;
      animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);

      @keyframes bounce-out {
        50% {
          transform: scale(0.9);
        }

        100% {
          transform: scale(1);
        }
      }
    }
  }

  .history-control .history-div {
    max-height: 1rem;
    align-self: end;

    ul {
      opacity: 0;
      transition: opacity 0.5s ease-out;
    }

    .no-history {
      transition: opacity 0.3s ease-in;
      opacity: 0;
    }
  }
}