@use "./History.scss";

$gutter-padding: 0.3rem;

.hidables {
  position: absolute;
  bottom: 5.5rem;
  right: 0;
  width: 60vw;
  z-index: -1;

  display: grid;
  grid-template-columns: 1fr 3rem;
  gap: 1rem;

  .history-control {
    overflow-y: scroll;
    padding-left: $gutter-padding;

    background: var(--col-white-faded);
    border-radius: 1.5rem;
    -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    height: auto;
    width: auto;

    .no-history {
      min-height: 2.5rem;
      text-align: center;

      display: grid;
      align-items: center;

      text-transform: uppercase;
      font-family: "ExtraLight";
      font-size: 1.2rem;
      color: var(--col-window-bg);
    }
  }

  .show-hide-btn {
    display: grid;
    justify-content: end;
    padding-inline: 0.5rem;
    position: relative;

    button {
      position: absolute;
      bottom: 0;
      right: 0.5rem;

      display: grid;
      border: none;
      aspect-ratio: 1/1;
      border-radius: 100%;

      background: var(--col-tertiary);
      padding: 0.5rem;
      transition: transform 0.1s ease-in-out;

      svg {
        fill: var(--col-window-bg);
        width: 3ch;
        height: 3ch;
        color: var(--col-window-bg);
        stroke-width: 0.5;
      }

      .outer-circle {
        transform-origin: center;
        transform: rotateZ(360deg);
        transition: transform 0.5s ease-in-out;
      }
    }
  }

  ::-webkit-scrollbar {
    width: $gutter-padding;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--col-tertiary);
    border-radius: 0.5ch;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--col-window-bg);
  }
}

.hidables.shown {
  .show-hide-btn {
    button {
      box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.2);
      animation-name: bounce;
      animation-duration: 0.3s;
      animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);

      svg {
        color: var(--col-white);
        fill: var(--col-white);

        .outer-circle {
          transform: rotateZ(0deg);
        }
      }
    }


    @keyframes bounce {
      50% {
        transform: scale(1.1);
      }

      100% {
        transform: scale(1);
      }
    }
  }

  .history-control {
    max-height: 50vh;
    opacity: 1;

    ul {
      transition: opacity 0.3s ease-in;
      opacity: 1;
    }
  }

  ::-webkit-scrollbar {
    display: block;
  }
}

.hidables.hidden {
  .history-control {
    max-height: 1rem;
    align-self: end;
    opacity: 0;

    ul {
      transition: opacity 0.5s ease-out;
      opacity: 0;
    }
  }

  ::-webkit-scrollbar-thumb {
    display: none;
  }
}