.hidables {
  margin-top: 1rem;
  padding-inline: 0.5rem;

  .history-control {
    display: grid;

    .history-div {
      height: 0;
      transition:
        opacity 0.3s ease-out,
        height 0.3s ease-in-out;
      cursor: pointer;

      li {
        opacity: 0;
        transition: opacity 0.3s ease-out;
      }
    }

    .show-hide-btn {
      border: none;
      background: none;
      cursor: pointer;

      svg {
        color: var(--col-primary);
        width: 2.5ch;
        height: 2.5ch;
        stroke-width: 60;
        transform: rotate(0deg);
        transition: transform 0.3s ease-out;
        filter: drop-shadow(0px 1px 1px hsla(0, 0%, 0%, 0.25));
      }
    }
  }

  &.history-shown .history-div {
    li {
      opacity: 1;
    }

    cursor: default;
    opacity: 1;
    height: 100%;
  }

  &.history-shown .show-hide-btn {
    svg {
      transform: rotate(-180deg);
      transition: transform 0.3s ease-out;
      filter: drop-shadow(0px -1px 1px hsla(0, 0%, 0%, 0.25));
    }
  }
}

.history-div {
  display: grid;
  align-items: start;

  background-color: var(--col-primary);
  border-radius: 0.25rem;

  padding: 0.5rem;
  max-height: 200px;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;

  ul {
    list-style-type: none;
    display: grid;
    gap: 0.5ch;
    z-index: 1;

    li {
      display: grid;
      grid-template-columns: 1fr 6ch;
      align-items: center;
      gap: 1ch;

      font-size: 1rem;
      background: var(--col-white, #fff);
      box-shadow: 0 3px 3px hsla(0, 0%, 0%, 0.3);
      border-radius: 0.2em;

      .history-part {
        display: grid;
        grid-template-columns: 1fr 3rem;
        padding: 1ch;
        border-radius: 0.2em 0 0 0.2em;
      }

      .detail:hover {
        background-color: var(--col-accent);
        border-left: 2px solid var(--col-tertiary);

        .index {
          display: none;
        }

        .copy-btn {
          display: block;
        }
      }
    }

    .result {
      justify-self: center;
      font-family: "Bold";
      font-size: 0.9rem;
      text-transform: uppercase;
      border-bottom: 1px solid var(--col-primary);
    }

    .detail {
      display: flex;
      font-family: "ExtraLight";

      .copy-btn {
        display: none;
        border: none;
        background-color: transparent;
        color: var(--col-white, #fff);
        width: 2.5ch;
        height: 2.5ch;
        cursor: pointer;
      }
    }
  }
}

.history-blob {
  position: absolute;
  transition: height 0.2s ease;
}

::-webkit-scrollbar {
  width: 1ch;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--col-secondary);
  border-radius: 2ch;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
