.keypad {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: var(--col-primary);
  border-radius: 0.25rem;
  padding: 0.25rem 0;

  .key {
    user-select: none;
    cursor: pointer;

    background: var(--col-window-bg);
    border: none;
    border-radius: 0.5rem;

    box-shadow: 0 0 5px rgba(#000000, 0.3);

    font-size: 1.5rem;
    align-self: center;
    padding: 0 1.5rem;

    color: var(--col-white);
  }
}