.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: opacity 0.3s ease;
  font-size: 1em;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
    z-index: -10000;
  }
}

.modal-content {
  background: var(--col-white);
  color: var(--col-window-bg);
  padding: 1em;
  border-radius: 0.25rem;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

  &.visible {
    animation-name: bounce-in;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 1;

    @keyframes bounce-in {
      50% {
        transform: scale(1.1);
      }

      100% {
        transform: scale(1);
      }
    }
  }

  &.hidden {
    transform: scale(0.9);
    opacity: 0;
    transition: transform 0.5s, opacity 0.3s ease;
  }

  h2 {
    margin-top: 0;
  }

  p {
    font-family: "ExtraLight";
  }

  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1em;

    button {
      font-size: 1em;
      padding: 0.5em 1em;
      border: none;
      border-radius: 0.3rem;
      cursor: pointer;
      font-family: "ExtraBold";
    }

    .confirm-btn {
      background-color: var(--col-accent);
      color: var(--col-white);
    }

    .cancel-btn {
      background-color: var(--col-primary);
      color: var(--col-window-bg);
    }
  }
}