.option-area {
  position: relative;
  transition: transform 0.2s ease-in-out;

  .option-form {
    position: absolute;
    top: 2.5rem;
    right: 0;

    background: var(--col-primary);
    box-shadow: 1px 2px 1px rgba($color: #000000, $alpha: 0.3);
    border-radius: 0.5rem;

    &.shown {
      max-height: 10rem;
      opacity: 1;
      visibility: visible;
      transition: max-height 0.2s ease-in-out, opacity 0.3s ease-in-out, visibility 0s linear 0s;

      ul>* {
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
      }
    }

    &.hidden {
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      transition: max-height 0.2s ease-in-out, opacity 0.5s, visibility 0s linear 0.5s;

      ul>* {
        opacity: 0;
      }
    }
  }

  .setting-btn {
    border: none;
    background: none;
    display: grid;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;

    svg {
      fill: var(--col-primary);
      width: 2rem;
      height: 2rem;
      margin: 0;
    }

    &.shown {
      transform: rotate(180deg);

      svg {

        .inside-circle {
          fill: var(--col-tertiary);
        }
      }
    }
  }
}

.option-form {
  >ul {
    list-style-type: none;

    padding: 0.5rem;
    display: grid;
    gap: 1ch;

    min-width: 10rem;

    li {
      position: relative;
      color: var(--col-window-bg);
      border-radius: 0.2rem;
      background: #B2B59B;
      box-shadow: inset 5px 5px 10px #999c85,
        inset -5px -5px 10px #cbceb1;

      padding: 0.5em;

      text-align: center;
      cursor: pointer;
      user-select: none;

      &:hover {
        background: linear-gradient(145deg, #bec2a6, #a0a38c);
        box-shadow: 5px 5px 10px #979a84,
          -5px -5px 10px #cdd0b2;


        p {
          color: var(--col-white);
        }
      }

      .options-select {
        position: absolute;
        left: 0;
        right: 0;
        top: 2.5rem;

        display: grid;
        border-radius: 0.2rem;

        z-index: 1000;
        background: var(--col-primary);

        &.hidden {
          display: none;
        }

        &.shown {
          display: grid;
        }

        .current {
          color: var(--col-secondary);
          background: var(--col-white);
        }

        div:hover {
          color: var(--col-secondary);
          background: var(--col-white-faded);
        }
      }
    }
  }
}