.preview-display {
  position: absolute;
  background: var(--col-white-faded);
  border-radius: 0.5rem;
  box-shadow: 0 5px 3px hsla(0, 0%, 0%, 0.5);

  width: 10rem;

  bottom: 5rem;
  display: grid;
  justify-content: stretch;

  z-index: 1000;
  animation-name: bounce-in;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 1;

  transform-origin: bottom left;
  transition:
    transform 0.2s,
    opacity 0.3s ease;

  @keyframes bounce-in {
    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }

  &.blurred {
    pointer-events: none;
    z-index: -10000;

    opacity: 0;
    transform-origin: bottom left;
    transform: scale(0.1);

    .preview-list {
      li {
        box-shadow: none;

        &.selected {
          p {
            color: var(--col-window-bg);
          }

          &::after {
            color: var(--col-window-bg);
          }

          p::before {
            background: none;
          }
        }
      }
    }
  }
}

.preview-list {
  list-style-type: none;
  user-select: none;
  -webkit-user-drag: none;

  padding: 0.5rem;

  display: grid;
  gap: 0.5rem;

  li {
    position: relative;
    padding: 0.75rem 0;
    border-radius: 0.5rem;

    text-align: center;
    font-family: "Light";
    cursor: pointer;

    background: var(--col-white);

    p {
      color: var(--col-window-bg);
      text-align: center;
    }

    &.selected {
      p {
        position: relative;
        color: var(--col-tertiary);
      }

      &::after {
        content: "\203A";
        position: absolute;
        top: 0.75rem;
        bottom: 0;
        left: 0.75rem;

        font-family: "Bold";
        color: var(--col-tertiary);
      }

      p::before {
        content: "";
        position: absolute;

        bottom: -0.2rem;
        right: 38%;

        background: var(--col-tertiary);
        width: 2rem;
        height: 0.1rem;

        border-radius: 1rem;

        font-family: "Bold";
        color: var(--col-white);
      }
    }

    &:hover p {
      color: var(--col-tertiary);
    }

    &:active {
      background: rgba(0, 0, 0, 0.9);

      &.selected p {
        &::after {
          content: "";
        }
      }
    }
  }
}
