.preview-display {
  background: var(--col-white);
  border-radius: 0.5rem;
  box-shadow: 0 5px 3px hsla(0, 0%, 0%, 0.5);

  max-width: 8rem;
  display: grid;
  justify-content: stretch;
  position: relative;

  p {
    position: absolute;
    top: -0.9rem;

    color: var(--col-secondary);
    background: var(--col-white);

    border-radius: 0.5rem 0.5rem 0 0;
    font-size: 0.7rem;

    padding: 0.3rem 0.5rem;
  }

  &.blurred {
    background: rgba(255, 255, 255, 0.5);

    p {
      background: #8e999a;
      color: var(--col-window-bg);
      box-shadow: none;
    }

    .preview-list {
      li {
        box-shadow: none;

        &.selected {
          color: var(--col-window-bg);

          &::after {
            color: var(--col-window-bg);
          }
        }
      }
    }
  }
}

.preview-list {
  list-style-type: none;
  user-select: none;
  -webkit-user-drag: none;

  padding: 0.5rem;

  display: grid;
  gap: 0.5rem;

  li {
    color: var(--col-window-bg);
    padding: 0.2rem;
    border-radius: 0.5rem;

    text-align: center;
    font-family: "Light";
    cursor: pointer;

    &.selected {
      color: var(--col-secondary);
      position: relative;

      &::after {
        content: "\203A";
        position: absolute;
        top: 0.2rem;
        bottom: 0;
        left: 0.5rem;

        font-family: "Bold";
        color: var(--col-secondary);
      }

      &::before {
        content: ".";
        position: absolute;
        bottom: 0;


        font-family: "Bold";
        color: var(--col-secondary);
      }
    }

    &:hover {
      color: var(--col-secondary);
    }

    &:active {
      background: rgba(0, 0, 0, 0.1);

      &.selected {
        &::after {
          content: "";
        }
      }
    }
  }
}