.preview-display {
  background: var(--col-white, #fff);
  box-shadow: inset 2px 1px 2px hsla(0, 0%, 0%, 0.5);
  border-radius: 0.5rem;

  max-width: 10rem;
  display: grid;
  justify-content: stretch;

  p {
    color: var(--col-secondary);
    font-size: 0.7rem;
    padding-inline: 0.5rem;
    padding-block: 0.1rem;
  }

  &.blurred {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 5px 3px hsla(0, 0%, 0%, 0.5);

    p {
      color: var(--col-window-bg);
    }

    .preview-list {
      li {
        &.selected {
          color: var(--col-window-bg);
        }
      }
    }
  }
}

.preview-list {
  list-style-type: none;
  user-select: none;
  -webkit-user-drag: none;

  padding-inline: 1em;
  padding-block: 0.7em;

  display: grid;
  justify-content: center;
  gap: 1rem;

  li {
    color: var(--col-window-bg);
    font-size: 1.25rem;

    font-family: "Light";
    cursor: pointer;

    &.selected {
      color: var(--col-secondary);
      position: relative;

      &::after {
        content: "\203A";
        position: absolute;
        top: 0;
        bottom: 0;
        left: -1rem;

        font-family: "Bold";
      }
    }

    &:hover {
      color: var(--col-secondary);
    }

    &:active {
      border-bottom: 1px solid var(--col-secondary);
      background: rgba(0, 0, 0, 0.1);

      &.selected {
        &::after {
          content: "";
        }
      }
    }
  }
}