@use "./components/CalculationForm.scss";
@use "./components/History.scss";
@use "./components/Keypad.scss";

.calculator {
  display: grid;
  gap: 0.5rem;
  z-index: 1000;
  position: relative;

  max-width: max(20vw, 40rem);

  background: var(--col-tertiary);
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
