@font-face {
  font-family: "FiraSans";
  src: local("FiraSans-Regular"),
    url("../fonts/Fira-Sans/FiraSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Light";
  src: local("FiraSans-Light"),
    url("../fonts/Fira-Sans/FiraSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("FiraSans-Bold"),
    url("../fonts/Fira-Sans/FiraSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ExtraBold";
  src: local("FiraSans-ExtraBold"),
    url("../fonts/Fira-Sans/FiraSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "ExtraLight";
  src: local("FiraSans-ExtraLight"),
    url("../fonts/Fira-Sans/FiraSans-ExtraLight.ttf") format("truetype");
}