@media screen and (max-width: 650px) {
  header {
    font-size: 0.8rem;
  }

  main .calculator {
    width: clamp(15rem, 80vw, 80rem) !important;
    font-size: 0.8rem;
  }

  main .calculator {
    width: clamp(15rem, 80vw, 90rem);
  }

  .hidables {
    width: clamp(15rem, 80vw, 50rem) !important;
  }

  .keypad {
    .function-keys .angle-convert {
      position: relative;
      display: flex;

      hr {
        display: none;
      }

      p:not(.current) {
        display: none;
      }

      .current {
        justify-self: center;
        align-self: center;
      }
    }

    .key {
      padding: none;

      .angle-convert {
        gap: 0;
        font-size: 0.75rem;
      }
    }
  }

  .preview-display {
    bottom: 3.75rem;
  }
}

@media screen and (max-width: 360px) {
  main {
    align-items: center;
  }

  main .calculator {
    margin-inline: 1rem !important;
    width: auto !important;
  }

  header {
    .option-form {
      right: -1rem !important;
      margin-top: 0.5rem;

      ul {
        font-size: 0.85rem;
        min-width: 10rem;
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
      }
    }
  }
}