@media screen and (max-width: 650px) {
  body {
    font-size: 0.85rem;
  }

  main .calculator {
    width: clamp(15rem, 80vw, 80rem) !important;
  }

  main .calculator {
    width: clamp(15rem, 80vw, 90rem);
  }

  .hidables {
    position: absolute;
    bottom: 5.8em;
    justify-self: end;
    width: clamp(15rem, 80vw, 50rem) !important;

    .history-div {
      ul {
        padding: 0.5rem 0.3rem;
        padding-left: 0.5rem;

        .history-part {
          padding: 0.2rem 0.3rem;
          font-size: 0.85rem;
        }
      }
    }
  }
}