@media screen and (max-width: 650px) {
  main .calculator {
    width: clamp(15rem, 80vw, 80rem) !important;
  }

  main .calculator {
    width: clamp(15rem, 80vw, 90rem);
  }

  .hidables {
    width: clamp(15rem, 80vw, 50rem) !important;
  }
}
