@use "./fonts.scss";
@use "./Calculator.scss";
@use "./components/Header.scss";

:root {
  --col-window-bg: #001f23;

  --col-primary: #5b9489;
  --col-secondary: #007a75;
  --col-tertiary: #fcbe8f;
  --col-accent: #ff2845;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  justify-content: center;
  align-items: center;

  font-family: "FiraSans", monospace;
  background-color: var(--col-window-bg);
}

.content {
  position: relative;
  min-width: 50rem;
  min-height: 100vh;
  background: var(--col-primary);
  padding: 4rem;
}

.blobs {
  position: absolute;
  inset: 0;
  z-index: 0;

  .blob1 {
    position: absolute;
    left: 0;
    width: 400px;
  }

  .blob2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
  }
}

@media screen and (max-width: 650px) {
  .content {
    min-width: max(100vw, 22rem);
    padding: 1rem;

    .blobs {
      & > * {
        width: 150px;
      }
    }

    header {
      margin: 3rem 0 6rem 0;

      h1 {
        font-size: 1.75rem;
      }

      svg {
        width: 2.5ch;
      }
    }

    .calculator {
      padding: 0.25rem;

      .hidables {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 200px;

        .show-hide-btn {
          grid-column: auto;
        }
      }
    }
  }
}

@media screen and (min-width: 650px) and (max-width: 1200px) {
  .content {
    min-width: 40rem;
    padding: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  form .keypad {
    display: grid;
    justify-content: end;
  }
}
