@use "./fonts.scss";
@use "./Calculator.scss";
@use "./components/Header.scss";
@use "./components/Modal.scss";
@use "./media-query.scss";

:root {
  --col-window-bg: #1F3333;

  --col-primary: #B2B59B;
  --col-secondary: #008989;
  --col-tertiary: #bf8935;
  --col-accent: #c05746;

  --col-white: white;
  --std-col-box-shadow: hsla(0, 0%, 0%, 0.3);

  --col-white-faded: rgba(255, 255, 255, 0.5);
  --col-window-bg-faded: rgba(31, 51, 51, 0.3);
  --col-secondary-faded: rgba(0, 137, 137, 0.3);

  --top-view-height: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  position: relative;

  font-family: "FiraSans", monospace;
  background: var(--col-window-bg);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100svh;

  padding-bottom: env(safe-area-inset-bottom);

  .calculator,
  header {
    margin-block: 3rem;
    margin-inline: auto;
  }

  header {
    width: clamp(15rem, 80vw, 90rem);
  }

  .calculator {
    width: clamp(15rem, 60vw, 80rem);

    .hidables {
      width: clamp(15rem, 50vw, 35rem);
    }
  }
}

.seperator {
  flex-grow: 1;
}

input {
  margin-bottom: env(safe-area-inset-bottom);
}

html {
  scroll-padding-bottom: env(safe-area-inset-bottom);
}