@use "./fonts.scss";
@use "./Calculator.scss";
@use "./components/Header.scss";

:root {
  --col-window-bg: #1F3333;

  --col-primary: #B2B59B;
  --col-secondary: #008989;
  --col-tertiary: #bf8935;
  --col-accent: #c05746;

  --col-white: white;
  --std-col-box-shadow: hsla(0, 0%, 0%, 0.3);

  --col-white-faded: rgba(255, 255, 255, 0.5);
  --col-window-bg-faded: rgba(31, 51, 51, 0.3);
  --col-secondary-faded: rgba(0, 137, 137, 0.3);

  --top-view-height: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  justify-content: stretch;
  align-items: start;
  grid-template-rows: 10rem 1fr;

  position: relative;

  font-family: "FiraSans", monospace;
  background: var(--col-window-bg);
  min-height: 100vh;
}

.blobs {
  position: absolute;
  inset: 0;
  z-index: 0;
  user-select: none;

  .blob1 {
    position: absolute;
    left: 0;
    width: 400px;
  }

  .blob2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
  }
}